body {
    font-family: Arial;
    background: #111;
    color: white;
}

.container {
    width: 40%;
    margin: auto;
    padding: 20px;
    background: #222;
    margin-top: 60px;
    border-radius: 10px;
}

input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #00ffcc;
    border: none;
    font-weight: bold;
}

.card {
    background: #333;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}
