body{
    background:#121212;
    color:white;
    font-family:arial;
    text-align:center;
}

.container{
    width:90%;
    max-width:400px;
    margin:40px auto;
    padding:20px;
    background:#1f1f1f;
    border-radius:10px;
}

input,button{
    padding:10px;
    width:90%;
    margin:10px;
    border-radius:5px;
    border:none;
}

button{background:#00ffaa;cursor:pointer}

.card{
    background:#292929;
    padding:15px;
    margin:10px;
    border-radius:10px;
}

