body {
    font-family: Arial;
    background: linear-gradient(135deg, #5f9cff, #7f5fff);
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin: 60px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #4a38d1;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 10px;
    background: #4a38d1;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 16px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #4a38d1;
    font-weight: bold;
}

.subject-box {
    background: #eeeeff;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
}

.emoji {
    font-size: 25px;
      }
