<!DOCTYPE html>
<html>
<head>
    <title>Add Subject</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>➕ Add New Subject</h2>
    <form method="POST">
        <input type="text" name="subject" placeholder="Subject name" required>
        <input type="number" name="total" placeholder="Total classes" required>
        <input type="number" name="bunked" placeholder="Bunked classes" required>
        <button type="submit">Add</button>
    </form>
</div>

</body>
</html>
