<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
<h2>BUNKIFY Dashboard</h2>

<div class="top-links">
<a href="/add">Add Subject</a>
<a href="/history">History</a>
<a href="/logout">Logout</a>
</div>

<table>
<tr>
<th>Subject</th>
<th>%</th>
<th>Reaction</th>
<th>Risk</th>
<th>Action</th>
</tr>

{% for s in subjects %}
{% set p = get_percent(s.attended_classes, s.total_classes) %}
<tr>
<td>{{ s.subject_name }}</td>
<td>{{ p }}%</td>
<td>{{ reaction(p) }}</td>
<td>{{ risk(p) }}</td>
<td>
<a href="/edit/{{s.id}}">Edit</a>
<a href="/delete/{{s.id}}">Delete</a>
</td>
</tr>
{% endfor %}

</table>

</div>
</body>
</html>
