<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
<h2>Edit Subject</h2>

<form method="POST">
<input name="name" value="{{subject.subject_name}}" required>
<input type="number" name="total" value="{{subject.total_classes}}" required>
<input type="number" name="attended" value="{{subject.attended_classes}}" required>
<button>Update</button>
</form>

<a href="/dashboard">Back</a>
</div>
</body>
</html>
